html,
body {
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
}

.App {
  margin: 0 auto;
  max-width: 600px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #fff;
  min-height: 100vh;
  box-sizing: border-box;
}

.loading {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  animation: rotate 1s linear infinite;
  border: 6px solid lightgray;
  border-top-color: darkgrey;
  border-radius: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo {
  text-align: center;
  font-size: 20px;
  font-style: italic;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
header nav a {
  flex-grow: 1;
  text-align: center;
}

.list {
  margin: 0;
  padding: 0;
  text-align: left;
}
.list li {
  margin: 0 0 10px;
  font-size: 16px;
  display: block;
}
.list li a:before {
  content: '> ';
}

article {
  margin: 0 0 50px;
}

a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

.active {
  font-weight: bold;
}


:focus {
  outline-color: transparent;
}

button {
  margin: 10px auto;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  background-color: #004006;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #004006;
  position: relative;
  transition-duration: .3s;
  overflow: hidden;
}
button span {
  position: relative;
  z-index: 1;
  pointer-events: none;
}
button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -115%;
  width: 110%;
  height: 100%;
  background-color: #fff;
  transition-duration: .3s;
  transform: skewX(10deg);
}
button:hover {
  color: #004006;
}
button:hover:before {
  left: -5%;
}

.comment {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.item {
  margin: 0 0 40px;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.item button {
  float: right;
}