:focus {
  outline-color: transparent;
}

button {
  margin: 10px;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  background-color: #004006;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #004006;
  position: relative;
  transition-duration: .3s;
  overflow: hidden;
}
button span {
  position: relative;
  z-index: 1;
}
button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -115%;
  width: 110%;
  height: 100%;
  background-color: #fff;
  transition-duration: .3s;
  transform: skewX(10deg);
}
.clicked {
  color: #004006;
}
.clicked:before {
  left: -5%;
}
