html,
body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  font-family: Arial, sans-serif;
}

:focus {
  outline: none;
}

.App {
  background-color: #fff;
  padding: 50px 40px;
  width: 1005px;
  max-width: 1500px;
  margin: 25px auto;
}

h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  margin: 0 0 40px;
  padding: 0 50px;
}

h2 {
  font-size: 40px;
  font-weight: 900;
  margin: 0 0 50px;
}

h3 {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

input {
  color: #000;
  background-color: #e6e6e6;
  width: 100%;
  box-sizing: border-box;
  height: 108px;
  padding: 35px 70px;
  font-size: 30px;
  line-height: 38px;
  margin: 0 0 85px;
  border: none;
}

::placeholder {
  color: #000;
  opacity: 1 !important;
}

.item {
  float: left;
  width: 50%;
}

.item p {
  margin: 0 0 15px;
  font-size: 30px;
}

.item__result h2 {
  padding: 0 35px;
}

.item__result img {
  max-width: 75%;
}

.item__history {
  padding-left: 70px;
  box-sizing: border-box;
}
.item__history img {
  height: 33px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 18px;
}
.item__history p span {
  color: #29abe2;
  text-decoration: underline;
  cursor: pointer;
}
.item__history p span:hover {
  text-decoration: none;
}

.wrap:after {
  content: '';
  display: table;
  width: 100%;
  height: 0;
  clear: both;
}

.img-wrap {
  width: 260px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  float: left;
}

.loading {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  animation: rotate 1s linear infinite;
  border: 6px solid lightgray;
  border-top-color: darkgrey;
  border-radius: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}