body {
  background-color: #ededed;
  font-family: Arial, sans-serif;
}

.wrap {
  margin: 30px auto;
  width: 100%;
  max-width: 910px;
  background-color: #fff;
  padding: 50px 40px 80px 62px;
  box-sizing: border-box;
}

/**
 * Header style's
 */
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

input {
  margin: 33px 0;
  width: 100%;
  background-color: #ededed;
  color: #9d9d9d;
  font-size: 20px;
  height: 78px;
  line-height: 18px;
  border-radius: 2px;
  border: none;
  padding: 30px 50px;
  box-sizing: border-box;
}

.title {
  position: relative;
  font-weight: bold;
  z-index: 1;
}

h1 {
  font-size: 60px;
  margin: 0;
}
.pretitle {
  font-size: 26px;
  color: #e30713;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-50%) rotate(-5deg);
  display: block;
  text-decoration: line-through;
  white-space: nowrap;
  z-index: -1;
  margin: 4px 0 0 17px;
}
/*
* End Header
 */

.item {
  padding: 16px 60px 20px 38px;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.item:hover {
  background-color: #f6f6f6;
}
p {
  margin: 0;
}
.arrived p {
  text-decoration: line-through;
  color: #e30713;
}
.btn {
  background-color: #94c11e;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  line-height: 35px;
  padding: 10px 55px;
  font-weight: bold;
  margin-left: 45px;
  cursor: pointer;
}