body {
  font-family: Arial;
  font-size: 14px;
}

table {
  margin: 0 auto;
  width: 630px;
  border-collapse: collapse;
}

td {
  border: 1px solid #000;
}

.is-head {
  font-weight: bold;
}
p {
  text-align: center;
}