.loading {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  animation: rotate 1s linear infinite;
  border: 6px solid lightgray;
  border-top-color: darkgrey;
  border-radius: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


:focus {
  outline-color: transparent;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #9c9c9c;
}
main {
  width: 900px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 20px;
  background-color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
nav a.active {
  font-weight: bold;
}

h2 a {
  text-decoration: none;
}

.item {
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: 1px solid #000;
}
.item:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 50px 0;
}

.actions {
  text-align: center;
}
button {
  margin: 10px auto;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  background-color: #004006;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #004006;
  position: relative;
  transition-duration: .3s;
  overflow: hidden;
}
button span {
  position: relative;
  z-index: 1;
  pointer-events: none;
}
button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -115%;
  width: 110%;
  height: 100%;
  background-color: #fff;
  transition-duration: .3s;
  transform: skewX(10deg);
}
button:hover {
  color: #004006;
}
button:hover:before {
  left: -5%;
}

article {
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
}
.list li {
  display: inline-block;
  margin: 1px;
}
.list li a {
  padding: 2px 5px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 10px;
  background-color: #e3970c;
  text-decoration: none;
  transition-duration: .3s;
}
.list li a:hover {
  background-color: #e3c02d;
}

.list-img {
  display: flex;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.list-img li {
  margin: 0 0 20px;
  width: 100px;
  display: block;
  text-align: center;
}
.list-img li a {
  text-decoration: none;
}
.list-img li h5 {
  margin: 0;
}

.list-img .image-wrap {
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 10px;
  float: none;
}
.list-img .image-wrap img {
  width: 80px;
  height: 80px;
}