.image-wrap {
  position: relative;
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 20px;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: show .5s;
}

@keyframes show {
  from {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}