.image-wrap {
  position: relative;
  margin: 0 auto 20px;
  width: 1024px;
  height: 340px;
}

.loading {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  animation: rotate 1s linear infinite;
  border: 6px solid lightgray;
  border-top-color: darkgrey;
  border-radius: 50%;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: show .5s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes show {
  from {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}