.hidden {
  display: none;
}

.form-item {
  margin: 30px auto;
  max-width: 300px;
}

.img-wrap {
  position: relative;
  height: 300px;
}

img {
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

label {
  display: block;
  width: 300px;
  margin: 0 auto;
}

[type="text"] {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.is-active {
  font-weight: bold;
}